CalculatorServicesClient/Web References/Machine3/Machine3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="power">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numberOne" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="numberTwo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="powerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="powerResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="powerSoapIn">
    <wsdl:part name="parameters" element="tns:power" />
  </wsdl:message>
  <wsdl:message name="powerSoapOut">
    <wsdl:part name="parameters" element="tns:powerResponse" />
  </wsdl:message>
  <wsdl:portType name="Machine3Soap">
    <wsdl:operation name="power">
      <wsdl:input message="tns:powerSoapIn" />
      <wsdl:output message="tns:powerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Machine3Soap" type="tns:Machine3Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="power">
      <soap:operation soapAction="http://localhost/power" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Machine3Soap12" type="tns:Machine3Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="power">
      <soap12:operation soapAction="http://localhost/power" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Machine3">
    <wsdl:port name="Machine3Soap" binding="tns:Machine3Soap">
      <soap:address location="http://localhost:49360/WebServices/Machine3.asmx" />
    </wsdl:port>
    <wsdl:port name="Machine3Soap12" binding="tns:Machine3Soap12">
      <soap12:address location="http://localhost:49360/WebServices/Machine3.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>