CalculatorServicesClient/Web References/Machine1/Machine1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:element name="handleExpression">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="expressionInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="handleExpressionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="handleExpressionResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="handleExpressionSoapIn">
    <wsdl:part name="parameters" element="tns:handleExpression" />
  </wsdl:message>
  <wsdl:message name="handleExpressionSoapOut">
    <wsdl:part name="parameters" element="tns:handleExpressionResponse" />
  </wsdl:message>
  <wsdl:portType name="Machine1Soap">
    <wsdl:operation name="handleExpression">
      <wsdl:input message="tns:handleExpressionSoapIn" />
      <wsdl:output message="tns:handleExpressionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Machine1Soap" type="tns:Machine1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="handleExpression">
      <soap:operation soapAction="http://localhost/handleExpression" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Machine1Soap12" type="tns:Machine1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="handleExpression">
      <soap12:operation soapAction="http://localhost/handleExpression" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Machine1">
    <wsdl:port name="Machine1Soap" binding="tns:Machine1Soap">
      <soap:address location="http://localhost:49360/WebServices/Machine1.asmx" />
    </wsdl:port>
    <wsdl:port name="Machine1Soap12" binding="tns:Machine1Soap12">
      <soap12:address location="http://localhost:49360/WebServices/Machine1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>